// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2023 NXP
 */
/dts-v1/;
/plugin/;

/ {
	eq_25gbe: eq-25gbe {
		eq-tap-values = <3 30 11>;
		eq-tap-names = "c(-1)", "c(0)", "c(+1)";
	};
};

&dpmac6 {
	phys = <&serdes_1_lane_e>;
	phy-names = "serdes";
	managed = "c73";
};

&pcs_mdio6 {
	status = "okay";
};

&serdes_1 {
	status = "okay";
};

&serdes_1_lane_e {
	coefficients = <&eq_25gbe>;
	coefficient-names = "25gbase-kr";
};
