# SPDX-License-Identifier: GPL-2.0-only
config SECURITY_HORNET
	bool "Hornet support"
	depends on SECURITY && BPF_SYSCALL
	select CRYPTO_LIB_SHA256
	select PKCS7_MESSAGE_PARSER
	select SYSTEM_DATA_VERIFICATION
	default n
	help
	  This selects Hornet.
	  Further information can be found in
	  Documentation/admin-guide/LSM/Hornet.rst.

	  If you are unsure how to answer this question, answer N.
