CONFIG_ARMADA_37XX_RWTM_MBOX=y
CONFIG_ARMADA_37XX_WATCHDOG=y
CONFIG_ATH10K=y
CONFIG_ATH10K_PCI=y
CONFIG_ATH_COMMON=y
CONFIG_BONDING=y
CONFIG_BRIDGE=y
CONFIG_BT=y
CONFIG_BT_QCA=y
CONFIG_EMBEDDED=y
CONFIG_EXPERT=y
CONFIG_GPIO_MOXTET=y
CONFIG_HZ=100
CONFIG_HZ_100=y
# CONFIG_HZ_250 is not set
CONFIG_IPV6=y
CONFIG_MAC80211=y
CONFIG_MARVELL_10G_PHY=y
CONFIG_MARVELL_PHY=y
CONFIG_MOXTET=y
CONFIG_NET_DSA=y
CONFIG_NET_DSA_MV88E6XXX=y
CONFIG_NET_DSA_MV88E6XXX_GLOBAL2=y
CONFIG_NET_DSA_MV88E6XXX_PTP=y
CONFIG_NET_DSA_TAG_DSA=y
CONFIG_NET_DSA_TAG_EDSA=y
CONFIG_PANIC_ON_OOPS=y
CONFIG_PANIC_ON_OOPS_VALUE=1
CONFIG_PANIC_TIMEOUT=1
CONFIG_RFKILL=y
CONFIG_RTC_DRV_MV=y
CONFIG_SATA_MV=y
# CONFIG_SERIAL_8250_DEPRECATED_OPTIONS is not set
CONFIG_SERIAL_8250_MANY_PORTS=y
CONFIG_SERIAL_8250_NR_UARTS=16
CONFIG_SERIAL_8250_RUNTIME_UARTS=16
CONFIG_SFP=y
CONFIG_TURRIS_MOX_RWTM=y
